@import "../../styles/mixins.scss";

.dashboard {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
}
.first-section {
    width: 100vw;
    height: 90vh;
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
    @include mobile {
        flex-direction: column-reverse;
        height: auto;
    }
}
.info-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
        color: #5d3891;
        @include mobile {
            font-size: 1.7rem;
            text-align: center;
        }
    }
    .buttons {
        display: flex;
        flex-direction: row;
        .button-link {
            width: auto;
            padding: 1.2rem;
            border: 0px;
            font-size: 1.5rem;
            color: white;
            background-color: #5d3891;
            border-radius: 0.5rem;
            cursor: pointer;
            margin: 0.5rem;
            &:hover {
                background-color: white;
                color: #5d3891;
                border: 1px solid #5d3891;
                transition: all 0.5s ease-in;
            }
            @include mobile {
                padding: 0.9rem;
                font-size: 1.2rem;
            }
        }
        button:last-child {
            @include mobile {
                padding: 0.8rem;
                font-size: 1.2rem;
            }
            width: auto;
            padding: 1.2rem;
            font-size: 1.5rem;
            color: #5d3891;
            border: 1px solid #5d3891;
            border-radius: 0.5rem;
            cursor: pointer;
            margin: 0.5rem;
            background-color: white;
            &:hover {
                background-color: #5d3891;
                color: white;
                transition: all 0.5s ease-in-out;
            }
        }
    }
}
.image-container {
    flex: 1;
    img {
        width: 60%;
        height: 60%;
        object-fit: contain;
    }
    @include mobile {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.second-section {
    display: flex;
    width: 100vw;
    height: 70vh;
    border-top: 1px solid lightgray;
    align-items: center;
    justify-content: space-around;
    background-color: #e8e2e2;
    @include mobile {
        height: auto;
        flex-direction: column;
    }
}
.third-section {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
}
